body {
    background-color: #fdf3d8;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    align-items: center;
    padding: 0px 4rem;
}

header a {
    color: black;
    text-decoration: underline;
}

header a:hover {
    color: #207ca2;
    text-decoration: none;
    border: #207ca2;
    border-style: solid;
    border-radius: 10%;
    transition: 0.15s;
}

nav {
    text-decoration: none;
}

nav li {
    display: inline-block;
    padding: 0px 20px;
}

.HomepageSection {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
#firstHomepageSection {
    background-color: #fdf3d8;
}

#secondHomepageSection {
    background-color: #cee8f6;
}

#thirdHomepageSection {
    background-color: #fdf3d8;
}
.halfbox{
    text-align: left;
    width: 45%;
    margin-left: 2rem;
}

.imageContainer {
    text-align: center;
}

.sectionMsg {
    text-align: left;
    font-size: 4rem;
}

.SectionButton {
    margin-top: 1rem;
    min-width: 35%;
    font-size: 2rem;
    border-radius: 10px;
    border: medium solid black;
    padding: 2px 10px 2px 10px;
    color: #ffe435e4;
    font-style: italic;
}

#firstSectionButton {
    background-color: #f15e5c;
}

#secondSectionButton {
    background-color: #207ca2;
}

#thirdSectionButton {
    background-color: #f15e5c;
}
.SectionButton:hover {
    color: bisque;
    box-shadow: 0px 5px 5px slategray;
    transition: ease-out 0.1s;
    cursor: pointer;
    text-decoration: dotted;
}

.sectionImage {
    width: 500px;
    height: 500px;
    margin-left: 2em;
}
/*
#FDF3D8 
#F15E5C
#FCE165
#FCE165
#FCE165
*/